<template name="layout">
	<div class="ui left aligned container">

		<div class="mobile only one column ui stackable grid">
			<div class="row">
			    <div class="column menu">{{> mobileMenu}}</div>
			</div>
			<div class="row">
			    <div class="column tabla">
			    	{{# if acreditados}}
			    		{{> inputAcreditar}}
						{{> tablaAsistentes}}
					{{ /if}}
					{{# if inscriptos}}
						{{> tablaInscriptos}}
					{{ /if}}
					{{> stats}}
			    </div>
			</div>
		</div>

		<div class="tablet only one column ui stackable grid">
			<div class="row">
			    <div class="column menu">{{> mobileMenu}}</div>
			</div>
			<div class="row">
			    <div class="column tabla">
			    	{{# if acreditados}}
			    		{{> inputAcreditar}}
						{{> tablaAsistentes}}
					{{ /if}}
					{{# if inscriptos}}
						{{> tablaInscriptos}}
					{{ /if}}
					{{> stats}}
			    </div>
			</div>
		</div>

		<div class="computer only ui fourteen column stackable grid">
			<div class="row">
			    <div class="left floated two wide column menu">{{> computerMenu}}</div>
			    <div class="right floated twelve wide column tabla">
			    	{{# if acreditados}}
			    		{{> inputAcreditar}}
						{{> tablaAsistentes}}
					{{ /if}}
					{{# if inscriptos}}
						{{> tablaInscriptos}}
					{{ /if}}
					{{> stats}}
			    </div>
			    </div>
		</div>
	</div>
</template>
